@model Forum.ViewModels.Forum.ForumTopicModel;
@{
    ViewData["Title"] = "Topic";
}

<div class="container body-content">

    <div class="sectionHeading ">
        <span class="postData" style="margin-left:-15px;">Welcome to @Model.Forum.Title Forum</span>

        @if (Context.User.Identity.IsAuthenticated)
        {
            <span>
                <a class="btn btn-newPost float-right" 
                   asp-controller="Post" asp-action="Create" 
                   asp-route-id="@Model.Forum.Id">Create</a>
            </span>
        }
        <form asp-controller="Forum" asp-action="Search" method="post">
            <div class="searchForm">
                <input asp-for="SearchQuery" type="text" placeholder="Search..." class="searchBar" onfocus="clearThis(this)" />
                <button type="submit" class="btn btn-forumSearch">
                    <i class="material-icons">search</i>
                </button>
            </div>

            <input asp-for="Forum.Id" type="hidden" name="id" />
        </form>
    </div>

 
    <div class="row" id="forumIndexContent">
        @if (Model.Post.Any())
        {
            <table class="table table-hover table-bordered" id="forumIndexTable">
                <tbody>

                    @foreach (var post in Model.Post)
                    {
                        <tr>
                            <td>
                                <div class="postData">
                                    <div class="postTitle">
                                        <a style="color:#eedfdf;" asp-action="Index" asp-controller="Post"
                                           asp-route-id="@post.PostId">@post.PostTitle</a>
                                    </div>
                                    <div class="forumSubTitle">
                                        <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId">
                                            @post.AuthorName
                                        </a>
                                    </div>
                                    <span class="postDate">@post.PostCreate</span>
                                </div>
                            </td>

                            <td>
                                <div class="forumPostCount">
                                    <p style="color:#eedfdf;">Replies: @post.ReplyCount</p>

                                </div>
                            </td>
                            <td>
                                <div class="postDate">
                                    <p style="color:#eedfdf;">@post.PostCreate</p>
                                </div>
                            </td>
                        </tr>
                    }




                </tbody>
            </table>
        }
        else
        {
            <div class="noPosts">
                <i class="material-icons md-72">question_answer</i>
                <h3>
                    It looks like there are no @Model.Forum.Title posts yet.
                    Why not <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Forum.Id"><span>creating</span></a> one?
                </h3>
            </div>
        }
    </div>

    </div>
